.expense {
  width: 100%;
  max-width: 500px;
  background: white;
  font-size: 1rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: left;
  justify-content: space-between;
  cursor: pointer;
}

.expense__text { 
  padding-left: 1rem;
  padding-right: 1rem;
}

.expense__delete { 
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 1rem;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.expense__delete:hover { 
  background-color: #fab1a0;
}

.expense__delete:active { 
  background-color: #ff7675;
}